.board{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    
}
.dipenserWrapper{
    display: flex;
    flex-direction: row;
    height: 100px;
    
}
.dispenser{
    background: yellow;
    padding:10px;
        height: 1000px;
        display: flex;
    flex-direction: column;

}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 40vh;
    min-width: 400px;
    min-height: 300px;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;    
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: white;
    padding: 1%;
    column-gap: 1%;
	border: 1px solid black;
    border-radius: 15px;
}


.settings {
    width: 8.66%;
    /* padding-bottom: 8.66%; */
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 40%;
    background-color: transparent;
    font-size: 50%;
    text-align: center;
    column-gap:100px;
    /* color: transparent; */

} 
.change-color {   
    background-color: rgb(74, 178, 74);
}


